.tags-container {
  background-color: #ececec;
  padding: 15px;
  border-radius: 5px;
  flex: 1;
}

.ReactTags__tags {
  position: relative;
  line-break: anywhere;
}

.ReactTags__clearAll {
  cursor: pointer;
  padding: 10px;
  margin-left: 10px;
  background: #f88d8d;
  color: #fff;
  border: none;
}

/* Styles for the input */
.ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin-bottom: 7px;
  font-size: 12px;
  border: 1px solid #c2c2c2;
  min-width: 200px;
  border-radius: 3px;
}

.ReactTags__editInput {
  border-radius: 1px;
}

.ReactTags__editTagInput {
  display: inline-flex;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #63bcfd;
  color: white;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  border-radius: 2px;
}
.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: white;
}

.primary-btn {
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  background-color: #4d4b63;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}
.primary-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.btn-accent {
  background-color: rgb(243, 79, 79);
  align-self: flex-end;
}
