li {
  list-style-type: none;
  cursor: pointer;
}
ul {
  padding: 0;
}
.flex {
  display: flex;
  align-items: center;
}
.player-container {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.player {
  max-width: 500px;
  width: 96%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--bg);
  border-radius: 5px;
}

.audio-player {
  background-color: var(--player);
}
.list-container {
  padding: 0;
  height: 340px;
  overflow: scroll;
  margin: 0;
}

.player-list {
  padding: 13px;
}
.player-list + .player-list {
  border-top: 2px solid var(--border);
}
.isActive {
  background-color: var(--active);
}

.btns {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3px;
}
.time-btns {
  background-color: #b3b1b1;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 3px;
}

.icons {
  font-size: 24px;
  cursor: pointer;
}
.icons path {
  stroke: #868686;
}

.actions {
  background-color: var(--player);
  padding: 10px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions-btn {
  background: transparent;
  border: none;
  background-color: rgb(188 185 185 / 81%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.settings-dialog {
  background-color: var(--bg);
  padding: 10px;
}

.dialog-list li {
  padding: 13px;
}

.dialog-list li {
  border-top: 2px solid var(--border);
}
.dialog-list__label {
  width: 130px;
  display: block;
}

.auto-btn {
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 6px 8px;
  border-radius: 4px;
  border: transparent;
}
.input {
  padding: 8px;
  max-width: 182px;
  width: 100%;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.pause-container {
  display: flex;
  align-items: center;
  background-color: var(--player);
  padding: 0 10px 10px 10px;
}
